<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Dp_Product>
			<version>1.0.0</version>
		</Dp_Product>
	</modules>
	<admin>
		<routers>
			<product>
				<use>admin</use>
				<args>
					<module>Dp_Product</module>
                    <frontName>product</frontName>
				</args>
			</product>
		</routers>
	</admin>
	<adminhtml>
		<menu>
	        <product translate="title" module="product">
	            <title>Product</title>
	            <sort_order>40</sort_order>
	            <children>
	                <manage translate="title" module="product">
	                    <title>Manage Product</title>
	                    <action>product/adminhtml_product/</action>
	                    <sort_order>0</sort_order>
	                </manage>
	            </children>
	         </product>
	     </menu>
	     <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
	</adminhtml>
	<global>
        <events>
            <product_before_save>
                <observers>
                    <product_observer>
                        <class>product/observer</class>
                        <method>callMe</method>
                    </product_observer>
                </observers>        
            </product_before_save>
            <redirect_before>
                <observers>
                    <product_redirect_observer>
                        <class>product/observer</class>
                        <method>beforeRedirect</method>
                    </product_redirect_observer>
                </observers>        
            </redirect_before>
        </events>
		<helpers>
            <product>
                <class>Dp_Product_Helper</class>
            </product>
            <catalog_helper> 
                <rewrite> 
                    <product>Dp_Product_Helper_Catalog_Data</product>
                </rewrite>
            </catalog_helper>
        </helpers>
        <blocks>
            <product>
                <class>Dp_Product_Block</class>
            </product>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Dp_Product_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <product>
                <class>Dp_Product_Model</class>
                <resourceModel>product_resource</resourceModel>
            </product>
            <!-- <catalog> 
                <rewrite> 
                    <product>Dp_Product_Model_Catalog_Product</product>
                </rewrite>
            </catalog> -->
            <product_resource>
                <class>Dp_Product_Model_Resource</class>
                <deprecatedNode>product_mysql4</deprecatedNode>
                <entities>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </product_resource>
        </models>
	</global>
</config>
