<?xml version="1.0"?>
<config>
    <modules>
        <Crud_Pro>
            <version>0.4.1</version>
        </Crud_Pro>
    </modules>  
    <admin>
        <routers>
            <pro>
                <use>admin</use>
                <args>
                    <module>Crud_Pro</module>
                    <frontName>pro</frontName>
                </args>
            </pro>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <pro module="pro">
                <title>pro</title>
                <sort_order>80</sort_order>               
                <children>
                    <items module="pro">
                        <title>childs</title>
                        <sort_order>0</sort_order>
                        <action>pro/adminhtml_pro</action>
                    </items>
                </children>
            </pro>
        </menu> 
        <layout>
            <updates>
                <pro>
                    <file>pro.xml</file>
                </pro>
            </updates>
        </layout>       
    </adminhtml> 

    <frontend>
        <routers>
            <pro>
                <use>standard</use>
                <args>
                    <module>Crud_Pro</module>
                    <frontName>pro</frontName>
                </args>
            </pro>
        </routers>   
        <layout>
            <updates>
                <pro>
                    <file>pro.xml</file>
                </pro>
            </updates>
        </layout>
    </frontend>    
    <global>    
        <blocks>
            <pro>
                <class>Crud_Pro_Block</class>
            </pro>
        </blocks>       

        <models>
            <pro>
                <class>Crud_Pro_Model</class>
                <resourceModel>pro_resource</resourceModel>
            </pro>
            <pro_resource>
                <class>Crud_Pro_Model_Resource</class>
                <entities>
                    <pro>
                        <table>pro</table>
                    </pro>  

                </entities>
            </pro_resource>
        </models>       
        <resources>
            <pro_setup>
                <setup>
                    <module>Crud_Pro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pro_setup>
            <pro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pro_write>
            <pro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pro_read>
        </resources>    
        <helpers>
            <pro>
                <class>Crud_Pro_Helper</class>
            </pro>
        </helpers>      
    </global>
</config>
